@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.body-bulma {
  background-color: #fff;
}

h1 {
  font-size: 4rem;
  color: #1D1D1D;
}

a {
  text-decoration: none;
}

section {
  display: flex;
}

button {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  padding: 0.5rem;
}

.container-buttons__bulma-button {
  color: #00d1b2;
}
.container-buttons__bulma-img {
  width: 3rem;
  height: 3rem;
}
.container-buttons__materialize-button {
  color: #ee6e73;

}
.container-buttons__materialize-img {
  width: 5rem;
  height: 4rem;
}
.container-buttons__tailwind-button {
  color: #319795;
}
.container-buttons__tailwind-img {
  width: 3rem;
  height: 3rem;
  padding-right: 0.5rem;
}
